
body{
	/* width: 780px; */
	margin: auto;
	font-family: sans-serif, helvetica;
	/* background: rgb(234, 227, 240); */
	/* background-image: url(images/quino-al-LQAFsv2eKEA-unsplash\ \(1\).jpg);
	background-repeat: no-repeat;
	background-size: cover; */
	background-color: #0e1b27;
	color: white;
	box-sizing: border-box;
	text-decoration: none;
	
}
header{
	position: sticky;
	top: 0;
	bottom: 0;
}
p{
	padding: 3px 5px 2px 5px;
}
#wrap{
	/* background-color: #ffffff; */
	position: relative;
}
h1{
	font-size: 28px;
	letter-spacing: 2px;
	font-weight: 200;
	padding: 5px;
}
header{
	background-color: #0f253a;
	box-shadow: 10px  2px 34px #03080c;
	border-radius: 5px;
	border: 2px solid whitesmoke;
	
}
header .menu{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	color: white;
}
header .menu li a{
	color: white;
	text-decoration: none;
	text-transform: capitalize;
	border-radius: 5px;
	transition: 200ms;
	padding:10px 16px;

}
header .menu .ativo, header .menu a:hover{
	color: greenyellow;
	border: 1px solid white;
	background-color: #0e1b27;
}
header .menu li{
	display: inline;
}
 section .secao{
	 width: 890px;	
	 font-size: 18px;
	/* text-align: center; */
	margin: auto;
	text-shadow: 2px 2px 0.5px black;

}
article{
	width: 890px;
	font-size: 22px;
	/* text-align: center; */
	margin: auto;
	text-shadow: 2px 2px 0.5px black;
}
.imggg{
	width: 640px;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid whitesmoke;
	border-radius: 8px;
	overflow: hidden;
}
.imgg{
	width: 890px;
	margin: auto;
}

h2{
	padding: 25px;
	width: 890px;
	margin: auto;
	text-shadow: 2px 2px 0.5px black;
}
.saque{

	margin: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 15px;
}
.saquei{
	font-size: 22px;
	display: inline;
	margin: auto;
	text-shadow: 2px 2px 0.5px black;
}
footer{
	clear: both;
	overflow: hidden;
	background-color: #0f253a;
	border: 2px solid whitesmoke;

}
footer{
	font-size: 10px;
	height: 30px;
	color: white;
	text-align: center;
	border-radius: 3px;
	
}
h3{
	position: relative;
	bottom: 5px;
}
.pcabeçalho{
    display: block;
    width: 890px;
    margin: auto;
    font-size: 18px;
    padding-bottom: 10px;
	text-shadow: 2px 2px 0.5px black;
}